[Unit]
Description=xauall service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /root/xauall.py
[Install]
WantedBy=multi-user.target